<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774192102240-d9bt2srab8a6mujl8n0ma5d1e18eeir2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774192102240-d9bt2srab8a6mujl8n0ma5d1e18eeir2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774192102240-8fthveg45pq2ee3mh2krkdgpbq3del2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUKpo74X51o1ggpquf4-pbvr3s0V_Xtx4</string>
	<key>GCM_SENDER_ID</key>
	<string>774192102240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baoflutter.bf1221Chat</string>
	<key>PROJECT_ID</key>
	<string>bf1221-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>bf1221-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774192102240:ios:0a5cdb91b4c9183f247c05</string>
</dict>
</plist>